<form action="/calcular" method="post">
	<input type="hidden" name="operacao" value="<%- operacao %>" />
	<label>Descrição</label>
	<input type="text" name="descricao" />
	<label>Valor</label>
	<input type="text" name="valor" />
	<input type="submit" value="Calcular" />
</form>
<% if(typeof(resultado) != 'undefined') { %>
	<p>O resultado é <%= resultado %>.</p>
<% } %>
